.app {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100px;
  cursor: pointer;
}

.block {
  margin-top: 20px;
}

.with-text {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 46px;

  svg {
    width: 36px;
    float: left;
    margin-right: 5px;
  }
}