:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

.app {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

button {
  display: inline-block;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  width: 100px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.withtext {
  width: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px 10px 15px;
  font-size: 1.4rem;
  line-height: 46px;

  svg {
    width: 36px;
    float: left;
    margin-right: 5px;
  }
}

.block {
  margin-top: 20px;
}

.settings {
  text-align: left;

  &__icon {
    margin-top: 5px;
  }

  &__back {
    text-align: center;
    margin-top: 20px;
  }

}


.slider {
  height: 40px;
  border-radius: 20px;

  &_red {
    border: 2px solid var(--red);
  }

  &_green {
    border: 2px solid var(--green);
  }

  &__thumb {
    // background-color: var(--red);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;

    &_red {
      background-color: var(--red);
    }

    &_green {
      background-color: var(--green);
    }
  }

}
